/*  -------------------------------------  APPLY TO ALL ELEMENTS  -------------------------------------  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*  -------------------------------------  NAVBAR  -------------------------------------  */

.Navbar-Logo {
  width: 40px;
}

/*  -------------------------------------  BUTTONS  -------------------------------------  */

.RoundButton {
  background-color: #5C5470; /* Green */
  border: none;
  color: #DBD8E3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 16px;
  margin: 12% 0 0 0;
}

.SquareButton {
  background-color: #DBD8E3; /* Green */
  border: none;
  color: #2A2438;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  margin: 12% 0 0 0;
}

/*  -------------------------------------  MAIN SECTION  -------------------------------------  */

.MainSection {
  background-image: url("../Images/Main\ Section\ Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 205vw;
  color: #2A2438;
  text-align: center;
}

.MainSection-BoldTitle {
  font-weight: 800;
  font-size: 0.9cm;
  padding: 50% 10% 15% 10%;
}

.MainSection-Text {
  font-weight: 200;
  font-size: 0.53cm;
  padding: 0 6%;
}

.MainSection-TextUnderButton {
  text-decoration: underline;
  font-size: 0.35cm;
  padding: 2% 0 0 0;
}

.MainSection-TextWithArrowDown {
  font-size: 0.52cm;
  padding: 45% 0 0 0;
}

.MainSection-ArrowDown {
  padding-left: 1%;
}

/* --- mid height adaptions --- */

@media only screen and (max-height: 750px) {
  .MainSection {
    height: 165vw;
  }

  .MainSection-BoldTitle {
    padding: 35% 10% 15% 10%;
  }

  .MainSection-TextWithArrowDown {
    padding: 35% 0 0 0;
  }
}

/* --- semi small height adaptions --- */

@media only screen and (max-height: 680px) {
  .MainSection-TextWithArrowDown {
    padding: 20% 0 0 0;
  }
}

/* --- small height adaptions --- */

@media only screen and (max-height: 600px) {
  .MainSection {
    height: 160vw;
  }

  .MainSection-BoldTitle {
    padding: 15% 10% 15% 10%;
  }

  .MainSection-TextWithArrowDown {
    padding: 8% 0 0 0;
  }
}

/*  -------------------------------------  OFFER SECTION  -------------------------------------  */

.OfferSection {
  text-align: center;
  padding: 1.4cm;
  background-color: #2A2438;
  color: #dbd8e3;
}

.OfferSection-OfferImage {
  border-radius: 4px;
}

.OfferSection-Offer-MainText {
  font-weight: 600;
  font-size: 0.5cm;
  padding: 0.68cm 0 0.42cm 0;
}

.OfferSection-Offer-SupportText {
  font-size: 0.36cm;
}

.OfferSection-Padding {
  padding: 1cm 0;
}

.OfferSection-Offer-Button {
  font-size: 22px;
}

/* --- semi small height adaptions --- */

@media only screen and (max-height: 680px) {
  .OfferSection-Offer-Button {
    font-size: 20px;
  }
}

/* --- small height adaptions --- */

@media only screen and (max-height: 600px) {
  .OfferSection-OfferImage {
    width: 200px;
  }

  .OfferSection-Offer-Button {
    font-size: 16px;
  }
}

/*  -------------------------------------  REVIEWS SECTION  -------------------------------------  */

.ReviewsSection {
  background-image: url("../Images/Reviews\ Section\ Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 164vw;
  color: #2A2438;
  text-align: center;
  padding: 1.4cm;
}

.ReviewsSection-MainText {
  font-weight: bold;
  font-size: 0.68cm;
  padding: 0 0.6cm;
}

.ReviewsSection-Logo {
  width: 46px;
  padding: 1cm 0 2cm 0;
}

.ReviewsSection-UserText {
  font-weight: 600;
  font-size: 0.6cm;
  color: #DBD8E3;
}

.ReviewsSection-UserImage {
  padding: 0.64cm 0 0.26cm 0;
}

.ReviewsSection-UserName {
  font-weight: bold;
  font-size: 0.56cm;
}

.ReviewsSection-UserTitle {
  padding-top: 0.14cm;
  font-size: 0.36cm;
  font-weight: 600;
}

/* --- mid height adaptions --- */

@media only screen and (max-height: 750px) {
  .ReviewsSection {
    height: 136vw;
  }
}

/* --- semi small height adaptions --- */

@media only screen and (max-height: 680px) {
  .ReviewsSection {
    height: 166vw;
  }
}

/* --- small height adaptions --- */

@media only screen and (max-height: 600px) {
  .ReviewsSection {
    height: 180vw;
  }

  .ReviewsSection-MainText {
    font-size: 0.58cm;
    padding: 0 0.3cm;
  }

  .ReviewsSection-Logo {
    width: 46px;
    padding: 1cm 0 1.2cm 0;
  }

  .ReviewsSection-UserText {
    font-size: 0.5cm;
  }
}

/*  -------------------------------------  FINAL SECTION  -------------------------------------  */

.FinalSection {
  background-color: #352F44;
  color: #DBD8E3;
  padding: 2cm 1.6cm;
}

.FinalSection-MainText {
  font-weight: 800;
  font-size: 0.8cm;
}

.FinalSection-SupportText {
  font-weight: 500;
  font-size: 0.5cm;
  padding: 0.8cm 0;
}

.FinalSection-SubscriptionText {
  font-size: 0.32cm;
  text-align: center;
  padding-top: 10px;
}

/* --- mid height adaptions --- */

@media only screen and (max-height: 750px) {
  .FinalSection-SubscriptionText {
    margin-right: 1cm;
  }
}

/* --- semi small height adaptions --- */

@media only screen and (max-height: 680px) {
  .FinalSection-SubscriptionText {
    margin-right: 0;
  }
}

/* --- small height adaptions --- */

@media only screen and (max-height: 600px) {
  .FinalSection {
    padding: 1.8cm 1.2cm;
  }

  .SquareButton {
    padding: 8px 16px;
    font-size: 20px;
  }

  .FinalSection-SubscriptionText {
    margin-right: 0.3cm;
  }
}

/*  -------------------------------------  FOOTER  -------------------------------------  */

.Footer {
  background-color: #2A2438;
  padding: 1.6cm 0.5cm;
}

.Footer-Section {
  padding-left: 0.6cm;
}

.Footer-LinksSection {
  display: flex;
}

.Footer-LinksSection-WhiteSection {
  color: #DBD8E3;
  padding: 1cm 1cm 1cm 0;
}

.Footer-LinksSection-PurpleSection {
  color: #5C5470;
  padding: 1cm;
}

.Footer-LinksSection-Text {
  font-weight: bold;
  font-size: 0.42cm;
  padding: 0.2cm 0;
}

.Footer-SocialMediaSection {
  padding-bottom: 1cm;
}

.Footer-SocialMediaSection-Text {
  color: #DBD8E3;
  font-weight: bold;
  font-size: 0.46cm;
  padding: 1cm 0 0 0;
}

.Footer-SocialMediaSection-SocialMediaLogos-InstagramLogo {
  padding: 0.3cm 0.3cm 0 0;
}

.Footer-SocialMediaSection-SocialMediaLogos-Logo {
  padding: 0 0.3cm;
}

.Footer-CompanySection {
  padding-top: 1cm;
  display: flex;
}

.Footer-CompanySection-RightSection{
  padding-left: 0.5cm;
}

.Footer-CompanySection-Text {
  color: #5C5470;
  text-decoration: underline;
  font-weight: bold;
  font-size: 0.4cm;
  padding: 0.2cm 0;
}

.Footer-CompanySection-TextGoRight {
  margin-left: 0.6cm;
}

.Footer-CompanySection-CopyrightText {
  text-decoration: none;
}